body {
   font-family: "eastap" serif;
   background: url("img/atable.jpg") no-repeat;
   background-size: cover;
   margin: 0px;
	
}

.page-header{
   font-family: "eastap";
   text-align: center;
}
.logo {
   padding: 30px;
   background-color: rgba(32,32,32,0.7);
   background-repeat: no-repeat;
   margin-top: -10px;
   margin-left: -10px;
   text-align: left;
}

h1 {
   color:#ffffff;
   margin-left: 1px;
}

h2 {
   font-size: 5em;
   color:#ffffff;
   text-align: center;
}
.page-header a {
   color: #ffffff;
   text-decoration: none;
   font-size: 15px;
   font-family: "Arial";
}
.header-email {
 
}
.header-phone {
   padding-left: 25px;

}
.menu {
   background-color:#e2e2ca ;
   color:#ffffff;
   
   font-size: 30px;
   background-repeat: no-repeat;
   padding:20px;
   margin-top: 40px;
   width: 300px;
   background-size: cover;
}



@font-face {
   font-family: "eastap";
   src: 
      url("fonts/eastap.ttf") format("truetype"),
      url("fonts/eastap.woff") format("woff"),
      url("fonts/eastap.woff2") format("woff2");
   font-style: normal; 
   font-weight: normal;
}