body {
   font:Arial, Helvetica, sans-serif; 
   background: url("img/atable.jpg") no-repeat;
   background-size: cover;
   margin: 0px;
	
}

.page-header{
   text-align: center;
}
.logo {
   padding: 30px;
   background-color:#202020;
   background-repeat: no-repeat;
   margin-top: -10px;
   margin-left: -10px;
 
 }

h1 {
   color:#ffffff;
   margin-top: 0px;
}
h2{
font-size: 5em;
color:#ffffff;
}
.page-header a {
   color: #ffffff;
   text-decoration: none;
   font-size: 20px;
   text-align: center;
}
.header-email {
   background-image: url("img/gmail.png")
}
.header-phone {
   padding-left: 25px;

}